<p>&nbsp;</p>

<div class="row">
  <div class="col-lg-4 col-md-2 col-sm-1">&nbsp;</div>
  <div class="col-lg-4 col-md-8 col-sm-10">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Connect to Ultron API</h4>
        <p>&nbsp;</p>
        <form (submit)="login($event)">
          <div class="md-form">
            <input [(ngModel)]="apiurl" name="apiurl" type="text" class="form-control" mdbActive value="{{apiurl}}">
            <label for="apiurl">API endpoint</label>
          </div>

          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input [(ngModel)]="username" name="username" type="text" class="form-control" mdbActive>
            <label for="username">Username</label>
          </div>

          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <input [(ngModel)]="password" name="password" type="password" class="form-control" mdbActive>
            <label for="password">Password</label>
          </div>

          <div class="text-center">
            <button class="btn btn-block btn-default waves-light" mdbRippleRadius>Connect</button>
          </div>
          
          <p>&nbsp;</p>
          <p class="text-center text-danger">{{error}}</p>

        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-2 col-sm-1">&nbsp;</div>
</div>
